<a [routerLink]="link()" class="block cursor-pointer hover:shadow-lg transition-shadow duration-200">
  <p-card [header]="title" styleClass="border border-gray-200 dark:border-gray-700 rounded-lg">
    <p-table [value]="data()">
      <ng-template pTemplate="header">
        <tr>
          @for (col of columns(); track col.field) {
          <th>{{ col.header }}</th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          @for (col of columns(); track col.field) {
          <td>
            @if (col.field === 'value') {
              {{ row[col.field] | currency }}
            } @else {
              {{ row[col.field] }}
            }
          </td>
          }
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</a>