<!--https://v17.primeng.org/table#stateful-->
<p-table class="m-2" #dt [value]="holdings()"
    [globalFilterFields]="['security.name', 'account.nickname', 'shares', 'costPerShare', 'purchaseDate']" [rows]="5"
    [paginator]="true" [tableStyle]="{ 'min-width': '40rem' }" dataKey="id.securityId">

    <!--Table top, has add new and search features-->
    <ng-template pTemplate="caption">
        <div class="table-top">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search holdings..." />
            </p-iconField>
            <p-button label="Add holding" icon="pi pi-plus" (onClick)="onAdd.emit()" />
        </div>
    </ng-template>

    <!--Table Data column headers-->
    <ng-template pTemplate="header">
        <tr>
            <th>{{ tableMode() === 'byAccount' ? 'Security' : 'Account' }}</th>
            <th pSortableColumn="shares">
                Shares <p-sortIcon field="shares" />
            </th>
            <th pSortableColumn="costPerShare">
                Cost/share <p-sortIcon field="costPerShare" />
            </th>
            <th pSortableColumn="purchaseDate">
                Purchase date <p-sortIcon field="purchaseDate" />
            </th>
            <th style="width: 80px"> Edit/Delete </th>
        </tr>
    </ng-template>

    <!--Table body-->
    <ng-template pTemplate="body" let-holding>
        <tr>
            <td>
                @if (tableMode() === 'byAccount') {
                {{ holding.security?.name }}
                } @else {
                {{ holding.account?.nickname }}
                }
            </td>
            <td>{{ holding.shares }}</td>
            <!-- Build in primeng pipes i found to format-->
            <td>{{ holding.costPerShare | currency }}</td>
            <td>{{ holding.purchaseDate | date:'mediumDate' }}</td>
            <td>
                <div class="edit-del-buts">
                    <p-button icon="pi pi-pencil" [text]="true" severity="secondary" (onClick)="onEdit.emit(holding)" />
                    <p-button icon="pi pi-trash" [text]="true" severity="danger" (onClick)="onDelete.emit({ holding, originalEvent: $event })" />
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No holdings found.</td>
        </tr>
    </ng-template>

</p-table>