<p-dialog 
    [header]="editingSecurity() ? 'Edit Security' : 'Add Security'"
    [modal]="true" 
    [visible]="visible()"
    (visibleChange)="visible.set($event)"
    [appendTo]="'body'"
    [styleClass]="'w-full max-w-2xl min-h-[500px] flex flex-col'"
    class="w-full max-w-lg"
>
  <form [formGroup]="form()" class="flex flex-col gap-6 mt-5">
    
    <div class="relative">
      <input pInputText id="tickerSymbol" formControlName="tickerSymbol" class="w-full peer" />
      <label for="ticker" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Ticker
      </label>
    </div>

    <div class="relative">
      <input pInputText id="name" formControlName="name" class="w-full peer" />
      <label for="name" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Name
      </label>
    </div>

    <div class="relative">
        <p-select 
        id="sector"
        formControlName="sector"
        [options]="sectorTypes" 
        optionLabel="name"
        optionValue="value" 
        class="w-full peer"
        />
      <label for="sectorType" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Sector Type
      </label>
    </div>

    <div class="relative">
        <p-select 
        id="securityType"
        formControlName="securityType"
        [options]="securityTypes" 
        optionLabel="name"
        optionValue="value" 
        class="w-full peer"
        />
      <label for="securityType" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Security Type
      </label>
    </div>
  </form>

  <ng-template #footer>
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancel" severity="secondary" [outlined]="true" (onClick)="cancelled.emit()" />
      <p-button [label]="editingSecurity() ? 'Update' : 'Add'" severity="primary" (onClick)="onUpdate()" />
    </div>
  </ng-template>
</p-dialog>