:host {
    display: block;
    height: 100%;
}

/**
 * found this on the internet to stop menu from having horizontal scroll bar
 * nothing else worked so i guess this stays???
 */
:host ::ng-deep .p-menu {
    width: 100%;
    min-width: unset;
    border: none;
    overflow: hidden;
}