<p-dialog 
    [header]="editingAccount() ? 'Edit Account' : 'Add Account'"
    [modal]="true" 
    [visible]="visible()"
    (visibleChange)="visible.set($event)"
    [appendTo]="'body'"
    [styleClass]="'w-full max-w-2xl min-h-[500px] flex flex-col'"
    class = "w-full max-w-lg"
>
  <form [formGroup]="form()" class="flex flex-col gap-6 mt-5">
    
    <div class="relative">
      <input 
        pInputText 
        id="nickname" 
        formControlName="nickname" 
        class="w-full peer"
      />
      <label for="nickname" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Nickname
      </label>
    </div>

    <div class="relative">
        <p-select
        id="accountType"
        formControlName="accountType"
        [options]="accountTypes"
        optionLabel="name"
        optionValue="value"
        [appendTo]="'body'"
        class="w-full peer"
        />
      <label for="accountType" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Account Type
      </label>
    </div>

    <div class="relative">
      <input 
        pInputText 
        id="institutionName" 
        formControlName="institutionName" 
        class="w-full peer"
      />
      <label for="institutionName" class="absolute left-3 -top-2.5 px-1 bg-white dark:bg-zinc-900 text-xs text-gray-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:dark:text-zinc-500 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700 peer-focus:dark:text-zinc-300">
        Institution Name
      </label>
    </div>
  </form>

  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        [outlined]="true"
        [rounded]="true"
        (onClick)="cancelled.emit()"
      />
      <p-button
        [label]="editingAccount() ? 'Update' : 'Add'"
        severity="primary"
        [rounded]="true"
        (onClick)="onUpdate()"
      />
    </div>
  </ng-template>
</p-dialog>