<p-dialog
    header="Edit User Profile"
    [modal]="true"
    [visible]="visible()"
    (visibleChange)="visible.set($event)"
    [appendTo]="'body'"
    [styleClass]="'w-full max-w-2xl min-h-[500px] flex flex-col'"
    class="w-full max-w-lg"
>
  <form [formGroup]="form()" class="flex flex-col gap-6 mt-5">

    <div class="relative">
      <input
        pInputText
        id="username"
        formControlName="username"
        class="w-full peer"
      />
      <label for="username" class="absolute left-3 -top-2.5 px-1 bg-white text-xs text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700">
        Username
      </label>
    </div>

    <div class="relative">
      <input
        pInputText
        id="password"
        type="password"
        formControlName="password"
        class="w-full peer"
      />
      <label for="password" class="absolute left-3 -top-2.5 px-1 bg-white text-xs text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700">
        Password
      </label>
    </div>

    <div class="relative">
      <input
        pInputText
        id="email"
        formControlName="email"
        class="w-full peer"
      />
      <label for="email" class="absolute left-3 -top-2.5 px-1 bg-white text-xs text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:text-zinc-700">
        Email
      </label>
    </div>
  </form>

  <ng-template #footer>
    <div class="flex justify-between mt-4">
      <p-button
        label="Log Out"
        severity="danger"
        [outlined]="true"
        (onClick)="loggedOut.emit()"
      />
      <div class="flex justify-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          [outlined]="true"
          (onClick)="cancelled.emit()"
        />
        <p-button
          label="Update"
          severity="primary"
          (onClick)="onUpdate()"
        />
      </div>
    </div>
  </ng-template>
</p-dialog>
