<p-dialog
    header="Edit User Profile"
    [modal]="true"
    [visible]="visible()"
    [appendTo]="'body'"
>

<form [formGroup]="form()">
    <!-- Example form field -->
    <input formControlName="username" pInputText />
    <!-- ... other fields ... -->
  </form>



    <ng-template #footer>

        <!-- fire off events when buttons are clicked -->
        <p-button 
            label="Cancel"
            severity="secondary"
            [outlined]="true"
            (onClick)="cancelled.emit()"
        />

        <p-button 
            label="Update"
            severity="primary"
            [outlined]="true"
            (onClick)="confirmed.emit()"
            
        />

    </ng-template>
</p-dialog>